/* side bar begin */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .sidenav h2, .dropdown-btn {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

.active {
    background-color:darkgray;
    color: white;
}

.dropdown-container {
    display: none;
    background: #262626;
    padding-left: 8px;
}

/* side bar end */

.gallery {
    /* background-color: red; */
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 40px;
  }

  .gallery img {
    transition: 1s;
    padding: 15px;
    height: auto;
    width: 30%;

    /*
    padding: 15px;
    display: block;
    margin-left: 30%;
    margin-right: auto;
    width: 50%;
    */
  }

.gallery img:hover {
    filter: drop-shadow(16px 16px 10px lightgrey);
    transform: scale(1.1);
}